<%= form_with model: @cost_pdf, class: 'form', local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>見積書</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>見積書</h2>
    </div>
      <div class="order-md-1">
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="familyName">会社名</label>
              <%= f.text_field :company_name, class:"form-control", placeholder:"会社名    必須", list:"kenpo1" %>
                <datalist id="kenpo1">
                  <% CostPdf.where(user_id: current_user.id).each do |cost_pdf| %>
                    <option><%= cost_pdf.company_name %></option>
                  <% end %>
                </datalist>
            </div>
            <div class="col-md-6 mb-3">
              <label for="givenName">郵便番号</label>
              <%= f.text_field :postal_code, class:"form-control", placeholder:"郵便番号 (例)000-0000     必須", list:"kenpo2" %>
                <datalist id="kenpo2">
                  <% CostPdf.where(user_id: current_user.id).each do |cost_pdf| %>
                    <option><%= cost_pdf.postal_code %></option>
                  <% end %>
                </datalist>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="pref">住所</label>
              <%= f.text_field :address, class:"form-control", placeholder:"住所     必須", list:"kenpo3" %>
                <datalist id="kenpo3">
                  <% CostPdf.where(user_id: current_user.id).each do |cost_pdf| %>
                    <option><%= cost_pdf.address %></option>
                  <% end %>
                </datalist>
            </div>
            <div class="col-md-4 mb-3">
              <label for="city">電話番号</label>
              <%= f.text_field :tell, class:"form-control", placeholder:"電話番号 (例)00000000000     必須", list:"kenpo4" %>
                <datalist id="kenpo4">
                  <% CostPdf.where(user_id: current_user.id).each do |cost_pdf| %>
                    <option><%= cost_pdf.tell %></option>
                  <% end %>
                </datalist>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">FAX</label>
              <%= f.text_field :fax, class:"form-control", placeholder:"FAX (例)00000000000     任意", list:"kenpo5" %>
                <datalist id="kenpo5">
                  <% CostPdf.where(user_id: current_user.id).each do |cost_pdf| %>
                    <option><%= cost_pdf.fax %></option>
                  <% end %>
                </datalist>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="familyName">受渡期日</label>
              <%= f.date_field :delivery_date, class:"form-control", value:"", placeholder:"任意" %>
              <label for="familyName">納入場所</label>
              <%= f.text_field :delivery_location, class:"form-control", placeholder:"任意" %>
            </div>
            <div class="col-md-6 mb-3">
              <label for="givenName">支払条件</label>
              <%= f.text_field :payment_terms, class:"form-control", placeholder:"任意" %>
              <label for="givenName">有効期限</label>
              <%= f.date_field :expiration_date, class:"form-control", placeholder:"任意" %>
            </div>
          </div>
          <div class="mx-auto">
            <%= f.fields_for :quotations do |f| %>
              <%= render "quotation_fields", f: f %>
            <% end %>
          </div>
          <div id="detail-association-insertion-point"></div>
          <div class="mt-2">
          <%= link_to_add_association "追加", f, :quotations %>
          </div>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="familyName">小計</label>
              <%= f.text_field :subtotal, class:"form-control", id:"subtotal-cost", placeholder:"必須", readonly: true  %>
            </div>
            <div class="col-md-4 mb-3">
              <label for="givenName">消費税</label>
              <%= f.text_field :tax, class:"form-control", id:"tax-cost", placeholder:"必須", readonly: true  %>
            </div>
            <div class="col-md-3 mb-3">
              <label for="givenName">合計</label>
              <%= f.text_field :total, class:"form-control", id:"total-cost", placeholder:"必須", readonly: true  %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="familyName">顧客名</label>
              <%= f.text_field :cliant_name, class:"form-control", placeholder:"顧客名    必須", list:"kenpo" %>
                <datalist id="kenpo">
                <option value="">顧客</option>
                  <% Work.where(user_id: current_user.id).each do |work| %>
                    <option><%= work.cliant_name %></option>
                  <% end %>
                </datalist>
            </div>
            <div class="col-md-6 mb-3">
              <label for="address">備考</label>
              <%= f.text_area :memo, class:"form-control", placeholder:"任意" %>
            </div>
          </div>
          <hr class="mb-4">
          <%= f.submit "作成", class:"btn btn-primary btn-lg btn-block" %>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js" integrity="sha384-Qg00WFl9r0Xr6rUqNLv1ffTSSKEFFCDCKVyHZ+sVt8KuvG99nWw5RNvbhuKgif9z" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
<% end %>
