<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <div class="main">
      <div class="page-header">
        <h1>詳細</h1>
      </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">顧客</h1>
          </div>
          <div class="panel-body">
            <h2><%= @work.cliant_name %></h2>
          </div>
          <div class="panel-heading">
            <h1 class="panel-title">仕事内容</h1>
          </div>
          <div class="panel-body">
            <h2><%= @work.job_description %></h2>
          </div>
          <div class="panel-heading">
            <h1 class="panel-title">日付</h1>
          </div>
          <div class="panel-body">
            <h2><%= @work.calendar %></h2>
          </div>
          <div class="panel-heading">
            <h1 class="panel-title">場所</h1>
          </div>
          <div class="panel-body">
            <h2><%= @work.work_place %></h2>
          </div>
          <div class="panel-heading">
            <h1 class="panel-title">金額</h1>
          </div>
          <div class="panel-body">
            <h2><%= @work.price %></h2>
          </div>
        </div>
      <button type="button" class="btn btn-secondary btn-lg">
      <%= link_to "削除", work_path(@work.id), method: :delete, class:"back" %>
      </button>
      <button type="button" class="btn btn-secondary btn-lg">
      <%= link_to "戻る", works_path, class: "back" %>
      </button>
    </div>
  </div>
</div>
