<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Sticky Footer Navbar Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">



    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <p class="navbar-brand">Rakuyan</p>
      <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link" %>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <table class="table-b">
        <tr>
          <td><%= link_to edit_user_path(current_user) do %>
          <span class="fas fa-user-edit size"></span>
          <% end %></td>
          <td><%= link_to works_path do %>
          <span class="far fa-calendar-alt size"></span>
          <% end %></td>
        </tr>
        <tr>
        <th>編集</th>
        <th>管理</th>
        </tr>
    </table>
    <table class="table-b">
        <tr>
          <th><%= link_to costs_path do %>
          <span class="fas fa-chart-line size"></span>
          <% end %></th>
          <th><%= link_to cliants_path do %>
          <span class="fas fa-user-alt size"></span>
          <% end %></th>
        </tr>
        <tr>
        <th>売上</th>
        <th>顧客</th>
        </tr>
    </table>
  </div>
</main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
