<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to current_user.company, root_path, class:"top-font" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
           <%= link_to "トップページ", root_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "仕事管理", works_path,  class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "売上", root_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_cliant_path, class:"nav-link active" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1>Cliant list</h1>
  <% @cliants.each do |cliant| %>
  <div class="col-sm-4">
        <div class="panel panel-danger">
        <div class="panel-heading">
          <%= link_to cliant.cliant_name, cliant_path(cliant.id), class:"panel-cliant" %>
            <%= link_to edit_cliant_path(cliant.id), class:"panel-font" do %>
              <span class="fas fa-edit"></span>
            <% end %>
            <%= button_to cliant_path(cliant.id), method: :delete, class:"panel-font"  do %>
              <span class="fas fa-trash-alt"></span>
            <% end %>
        </div>
        <div class="panel-body">
          <%= cliant.email %>
        </div>
        </div>
  </div>
  <% end %>
