<%= render partial: "cliant", locals: { cliant: @cliant } %>
<%= form_with model: @cliant, class: 'form', local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="Form">
    <h1>新規登録</h1>
      <div class="Form-Item">
      <%#= render 'shared/error_messages', model: f.object %>
        <p class="Form-Item-Label">
          <span class="Form-Item-Label-Required-a">必須</span>顧客名
        </p>
        <%= f.text_field :cliant_name, class:"Form-Item-Input", placeholder:"顧客名", list:"kenpo" %>
        <datalist id="kenpo">
        <option value="">顧客</option>
          <% Work.all.each do |work| %>
            <option><%= work.cliant_name %></option>
          <% end %>
        </datalist>
      </div>
      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required-a">必須</span>メールアドレス</p>
        <%= f.text_field :email, class:"Form-Item-Input", placeholder:"例）example@gmail.com" %>
      </div>
      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required-a">必須</span>電話番号</p>
        <%= f.text_field :tell, class:"Form-Item-Input", placeholder:"例）09000000000" %>
      </div>
      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required-a">任意</span>FAX</p>
        <%= f.text_field :fax, class:"Form-Item-Input", placeholder:"例）09000000000" %>
      </div>
      <div class="Form-Item">
        <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required-a">必須</span>住所</p>
        <%= f.text_area :address, class:"Form-Item-Input", placeholder:"住所" %>
      </div>
        <%= f.submit "登録", class:"Form-Btn-a" %>
  </div>
<% end %>
